body {
    background-color: #e6e6fa;
}

#container {
    width: 800px;
    margin: auto;
    background-color: #cce6ff;
}

header {
    padding: 40px;
    height: 80px;
}

nav {
    padding: 8px 40px;
    background-color: #fffaf0;
    color: silver;
}

article {
    padding: 40px;
    min-height : 400px;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : #add8e6;
    color: black;
}
